*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/settings.gradle
/app/proguard-rules.pro
/gradlew.bat
/gradlew
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle.properties
/app/resources/datastore_search.json
/build.gradle
/app/build.gradle
